<template>
	<div class="content">
		<h3 class="header">{{ item.name }}</h3>

		<div
			v-for="attr, index in innerItem.attributes"
			:key="index"
			class="detail"
		>
			<label class="field">
				<span class="title">code:</span>
				<input v-model="attr.code"/>
			</label>

			<label class="field">
				<span class="title">name:</span>
				<input v-model="attr.name"/>
			</label>

			<label v-if="'color' in attr" class="field">
				<span class="title">color:</span>
				<input v-model="attr.color"/>
			</label>

			<div v-if="'size' in attr" class="field">
				<span class="title">size:</span>
				<span>
					<input v-model="attr.size.width" type="number"/>
					x
					<input v-model="attr.size.height" type="number"/>
				</span>

			</div>

			<label v-if="'weight' in attr" class="field">
				<span class="title">weight:</span>
				<input v-model="attr.weight" type="number"/>
			</label>

			<button @click="emit('remove', index)">
				Remove
			</button>
		</div>

		<div class="add">
			<label>
				type
				<select v-model="selectType">
					<option value="color">color</option>
					<option value="size">size</option>
					<option value="weight">weight</option>
				</select>
			</label>

			<button @click="emit('add', selectType)">
				Add
			</button>
		</div>
	</div>
</template>

<script setup lang="ts">
import {defineProps, defineEmits, ref, watch} from 'vue';
import { Product } from './types';

export type AttrTypes = 'color' | 'size' | 'weight'

const props = defineProps<{
	item: Product
}>();

const emit = defineEmits(['add', 'remove', 'update']);

const selectType = ref<AttrTypes>('color');

const innerItem = ref(props.item);

watch(props.item, () => {
	innerItem.value = props.item;
})
</script>

<style scoped lang="css">
.header {
	font-weight: bold;
	margin: 0;
}
.content {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 20px;

	border: 1px solid lightblue;
}
.detail {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.field {
	display: flex;
	gap: 5px;
}
.title {
	font-weight: bold;
}
.add {
	display: flex;
	gap: 10px;
}
</style>
