<template>
	<div class="list">
		<div
			v-for="(item, index) in items"
			:key="index"
			class="item"
			:class="{ itemSelected: item === selected}"
			@click="emit('click', item)"
		>
			{{ item.name }}
			<button @click="emit('remove', index)">
				X
			</button>
		</div>
		<label class="newcraft">
			<input v-model="newCraft">
			<button @click="emit('add', newCraft)">
				Add
			</button>
		</label>
	</div>
</template>

<script setup lang="ts">
import {defineProps, defineEmits, ref} from 'vue';
import { Product } from './types';

defineProps<{
	items: Array<Product>
	selected: Product | undefined
}>();

const emit = defineEmits(['click', 'add', 'remove']);

const newCraft = ref('')
</script>

<style lang="css">
.list {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin: 0;
	list-style: none;
	border: 1px solid lightblue;
}

.item {
	display: flex;
	gap: 5px;
	justify-content: space-between;

	padding: 10px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	min-width: 250px;
}

.itemSelected {
	padding: 10px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	min-width: 250px;
	background: lightskyblue;
}

.item:hover {
	background: #f0f0ff;
}

.itemSelected:hover {
	background: skyblue;
}

.newcraft{
	display: flex;
	gap: 5px;
}
</style>
