<template>
	<div class="main">
		<item-list
			:items="data"
			:selected="selectedItem"
			class="sidebar"
			@click="(item) => selectedItem = item"
			@add="onAddItem"
			@remove="onRemoveItem"
		/>
		<item-content
			v-if="selectedItem"
			:key="selectedItem.id"
			:item="selectedItem"
			@add="onAddAttr"
			@remove="onRemoveAttr"
		/>
	</div>
</template>

<script setup lang="ts">

import ItemList from './components/ItemList.vue';
import ItemContent, { AttrTypes } from './components/ItemContent.vue';
import Data from './components/mockData';
import {computed, ref} from 'vue';
import { Product } from './components/types';

// maybe reactive
const data = ref<Array<Product>>(Data);


const selectedItem = ref<Product | undefined>();

const nextId = computed(() => data.value.length)

const onAddAttr = (value: AttrTypes) => {
	switch (value) {
		case 'color': {
			selectedItem.value?.attributes.push({
				code: 'new code',
				name: 'new field',
				color: 'color'
			});
			break;
		}
		case 'size': {
			selectedItem.value?.attributes.push({
				code: 'new code',
				name: 'new field',
				size: {
					width: 0,
					height: 0
				}
			});
			break;
		}
		case 'weight': {
			selectedItem.value?.attributes.push({
				code: 'new code',
				name: 'new field',
				weight: 0
			});
			break;
		}
	}
}

const onRemoveAttr = (index: number) => {
	selectedItem.value?.attributes.splice(index, 1)
}

const onAddItem = (name: string) => {
	data.value.push({
		id: nextId.value,
		name,
		attributes: [],
	})
	selectedItem.value = data.value[data.value.length - 1]
}
const onRemoveItem = (index: number) => {
	data.value.splice(index, 1)
}

</script>

<style scoped lang="css">
.main {
	display: flex;
	gap: 20px;
}
.sidebar {
	width: auto;
}
</style>
